<div id="<%= dom_id(room) %>" class="bg-white shadow-lg rounded-lg p-6 mb-6">
  <p>
    <strong class="text-2xl font-semibold mb-2">Name:</strong>
    <span class="text-gray-800 text-lg"><%= room.name %></span>
  </p>
</div>


